@keyframes gradient-x {
  0%, 100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 10s ease infinite;
  background-size: 200% 200%;
}
